body
{
	font-family: 'Abel', serif;
}

a[type='title']
{
	font-family: 'Abel', serif;
	font-size: 14px;
	color: #FEF7DB;
	text-decoration: none;
}

a[type='nochange']
{
	font-family: 'Abel', serif;
	color:inherit;
	font-size:inherit;
	text-decoration: none;
}

a
{
	font-family: 'Abel', serif;
	color: #33F7DB;
	font-size: 14px;
}

input[type='text']
{
	font-family: 'Abel', serif;
	font-size: 18px;
	color: #33F7DB;

	background: transparent;
	border: none;
	outline: none;
	
	position: relative;
	top: 1px;
	left: 2px;
	
	width:50px;
}

input[type='text2']
{
	font-family: 'Abel', serif;
	font-size: 18px;
	color: #33F7DB;

	background: transparent;
	border: none;
	outline: none;
	
	position: relative;
	top: 1px;
	left: 2px;
	
	width:80px;
}

input[type='weaponNameText']
{
	font-family: 'Abel', serif;
	font-size: 18px;
	color: #33F7DB;
	
	background: transparent;
	border: none;
	outline: none;
	
	position: relative;
	top: 1px;
	left: 2px;
	
	width:80px;
}

input[type='tableInput']
{
	font-family: 'Abel', serif;
	font-size: 18px;
	color: #33F7DB;

	background: transparent;
	border: none;
	outline: none;
	
	position: relative;
	left: 7px;
	
	float: left;
	
	width: 120px;
}

input[type='tableInputHalf']
{
	font-family: 'Abel', serif;
	font-size: 18px;
	color: #33F7DB;

	background: transparent;
	border: none;
	outline: none;
	
	position: relative;
	left: 7px;
}

button
{
	font-family: 'Abel', serif;
	font-size: 14px;
	color: #FEF7DB;
	
	width: 160px;

	background: transparent;
	
	border-width: thin;
}

select
{
	font-family: 'Abel', serif;
	font-size: 14px;
	color: #33F7DB;
	
	width: 120px;

	background: transparent;
	border: none;
	outline: none;
}

select[type='select2']
{
	font-family: 'Abel', serif;
	font-size: 16px;
	color: #33F7DB;
	
	width: 170px;
	
	float: left;

	background: transparent;
	border: none;
	outline: none;
}

option
{
	font-family: 'Abel', serif;
	font-size: 13px;
	color: #55F7DB;

	background: #35342F;
	border: none;
	outline: none;
	
	box-shadow:none; 
	background-image: none;
}


table[type='weaponTable']
{
	border: 1px solid grey;
	text-align: right;
}

table[type='modifierTable']
{
	border: 1px solid grey;
	text-align: right;
}

td
{
	border: 1px solid grey;
}

td[type='lower']
{
	border: 1px solid grey;
	width: 110px;	
}

td[type='left']
{
	border: 1px solid grey;
	text-align: left;
}

div[type='weaponBlock']
{ 
	border: 1px solid grey;
	position: relative;
	text-align: center;
	width: 888px;
}

div[type='statColumn']
{ 
	border: 1px solid grey;
	width: 220px;
}

input[type='checkbox']
{
  width: 10px;
  height: 10px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -3px;
  *overflow: hidden;
  
  font-size: 4px;
}

div[type='rerollsBlock']
{ 
	border: 1px solid grey;
	position: relative;
	text-align: center;
	width: 888px;
}


/* FONT AND ACHIEVEMENT STUFF*/
@font-face {
	font-family: 'FrizQuadrataRegular';
	src: url('./FrizQuadrataRegular.eot');
	src: local('FrizQuadrataRegular'), url('./FrizQuadrataRegular.woff') format('woff'), url('./FrizQuadrataRegular.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_12912">Text with this font applied</p> */
.fontsforweb_fontid_12912 {
	font-family: 'FrizQuadrataRegular' !important;
}
/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  font-family: FrizQuadrataRegular;
  font-size: 9px;
  opacity: 0.65;
  position: absolute;
  top: 79%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*button*/
.container .btn {
  position: absolute;
  top: 10%;
  left: 102%;
  width: 60px;
  opacity: 0.85;
  background-color: #555;
  color: black;
  font-size: 12px;
  border: none;
  cursor: pointer;
  border-radius: 1px;
}


/* POP UP FORM */

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  color: black;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}